body {
  font-family: var(--font-family);
  color: var(--text-color);
  line-height: 1.5;
}



.Containerofbox{
  
  padding: 2rem;
  
  font-family: 'Georgia', serif;
  text-align: center;
  
  max-width: 700px;
  /* centering this */
  margin: 0 auto;
}

.boxofcontainer{
  background-color: #f3e8c4;
  border: 3px solid #b08968;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
  color: #5e503f;
  width: 650px;
  margin: 0 auto;
}


.headingofcontainer{
  color: #5e503f;
  margin-bottom: 1rem;
  font-size: 2rem;
}